html {
    --scrollbarBG: #f1f5f7;
    --thumbBG: #39A900;
  }
  body::-webkit-scrollbar {
    width: 21px;
  }
  body {
    scrollbar-width: auto;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 8px;
    border: 3px solid var(--scrollbarBG);
  }
   .sena-fondo:hover{
    background-color:#f0ec84;
}
.sena-xlargo{
  width:100px;
}
.sena-p3{
  width:30%;
}
.sena-p4{
  width:40%;
}
.sena-p6{
  width:70%;
}
.sena-p100{
  width:100%;
}
.sena-fondo{
    background-color:white;
}
.sena-color{
    background-color:#39A900;
    border-color: darkgray;
}   
.sena-sombra{
    text-shadow: 2px 2px 5px #000000;
}
.sena-hover:hover{
    background-color:#eaf39c;
}
  .sena-btn:hover{
    background-color:#eaf39c;
    background-color:yellow;
  }
  .sena-btn {
  cursor:pointer;    
  background: url("https://siomi.datasena.com/bt1.jpg") no-repeat right center;  
  text-align: center;
  height: 40px;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px #ABEBC6;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px 0px #ABEBC6;
  #padding: 10px 10px 10px 10px;
  # padding: 10px 0;
  
   margin:10,10,10,10;
   border:10,10,10,10;
   
   border-radius: 15px 10px 10px 15px;
  -moz-border-radius: 15px 10px 10px 15px;
  -webkit-border-radius: 15px 10px 10px 15px;
  border: 1px solid #000000;
  background-color: rgb(250, 247, 247);
  color:black;
  vertical-align: middle;;
  }
  .sena-btn,.sena-btns:hover{
    background-color:#eaf39c;
  }
    .sena-btns:hover{
        background-color:#eaf39c;
        background-color:yellow;
  }.sena-btns {
    cursor:pointer;    
     text-align: left;
     text-align: center;
  
  height: 40px;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px #ABEBC6;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px 0px #ABEBC6;
  #padding: 10px 10px 10px 10px;
  # padding: 10px 0;
  
   margin:10,10,10,10;
   border:10,10,10,10;
   
   border-radius: 15px 10px 10px 15px;
  -moz-border-radius: 15px 10px 10px 15px;
  -webkit-border-radius: 15px 10px 10px 15px;
  border: 1px solid #000000;
  background-color: black;
  color:white;
  vertical-align: middle;;
  }
  .sena-btn:hover{
    background-color:#eaf39c;
    background-color:yellow;
  }
  .sena-btns:hover{
    background-color:yellow;
    color:black;
  }
  .sena-round{
    border-radius:4px
  }
.sena-card{
  border-radius: 10px 10px 55px 53px;
-moz-border-radius: 10px 10px 55px 53px;
-webkit-border-radius: 10px 10px 55px 53px;
border: 1px solid #000000;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
  main {
    padding: 0.75rem;
}

.sena__container {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 1.5rem;
    margin: auto;
    max-width: var(--web-margin);
}

.sena__oportunidad {
    grid-area: 1/1/2/3;
}

.sena__oportunidad-img {
    border-radius: 12px;
    box-shadow: var(--primary-shadow);
    width: 100%;
    gap: 1.125rem;
}

.sena__i-cards {
    border-radius: 12px;
    padding: 1.5rem 1.5rem;
    display: flex;
    gap: 0.875rem;
    flex-direction: column;
    height: fit-content;
    width: 90%;
    justify-items: center;
    background-color: var(--secondary-background);
}




.sena__ingles-niveles {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-info);
    box-shadow: var(--primary-shadow);
    border-radius: 12px;
}

.sena__ingles-text {
    text-align: center;
    padding: 1.25rem 2.813rem;

}

.sena__ingles-imgs {
    width: 100%;
}

.sena__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.sena__informacion-card {
    width: 100%;
    box-shadow: var(--primary-shadow);
    border-radius: 12px;
    border: 1px solid var(--alternate-background);
}

.sena__informacion-card--none {
    border: none;
}

.sena__informacion-card-header {
    border-radius: 12px;
    width: 100%;
    height:150px;
    background-color: var(--alternate-background);
    display: flex;
}

.sena__information-card-title {
    padding: 1.5rem 3rem;
    margin: auto;
    color: var(--color-info);
    background-color:va(--thumbBG)
    font-weight: bold;
    height:50px;
    
}



.sena__informacion-card-container {
    gap: 3.125rem;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.sena__informacion-card-text {
    color: var(--primary-text);
}


.sena__informacion-card-icon {
    height: 6.25rem;
}

.sena__informacion-test {
    width: 12.5rem;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: var(--primary-shadow);
}

@media(max-width: 1200px) {
    .sena__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .sena__oportunidad {
        grid-area: 1/1/2/2;
    }

    .sena__informacion {
        grid-area: 2/1/3/2;
    }

    .sena__informacion-card-container {
        gap: 0.75rem;
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .sena__informacion-card-icon {
        height: 4.375rem;
    }
}
:root {
  --primary: #39a900;
  --secondary: #98fe58;
  --tertiary: #f2ffe5;
  --alternate: #29690b;
  --primary-text: black;
  --secondary-text: #5d5d5d;
  --alternate-text: #919191;
  --primary-background: #fff;
  --secondary-background: #E6E6E6;
  --alternate-background: #f1f5f5;
  --color-success: #52d726;
  --color-error: #e74c3c;
  --color-warning: #f1c40f;
  --color-info: #ffffff;
  --primary-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --primary-font-family: 'Work Sans Regular', sans-serif;
  --secondary-font-family: 'Work Sans Bold', sans-serif;
  --bp-small: 480px;
  --bp-medium: 767px;
  --bp-large: 1200px;
  --web-margin: 1366px;
  
}
@font-face {
  font-family: 'Work Sans Regular';
  src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url('../fonts/WorkSans-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

