<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body >
    <br><br><br><br><br><br>
    <center><h2 class="caret-sombra-red">NOVEDADES EN EL AMBIENTE DE FORMACION</h2></center>
    <div class="card w3-margin" style="margin-right: 1rem;width: 22rem;border:1;border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px solid #000000;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
        <div class="card-body">
<h3>
    <br>
<ul id="myUL">
  <li><span class="caret">📁 MENU PRINCIPAL</span><hr>
    <ul class="nested">
      <li><span class="caret">&#10133; NOVEDADES</span>
        <ul class="nested"> 
          <li><i class='far  fa-window-restore'></i>
            <a href="/novedada" target=centro>ABIERTAS</a>  </li>
          <li><i class='far fa-window-restore'></i>
          <a href="/novedadp" target=centro>EN PROCESO</a></li>
          <li><i class='far  fa-window-restore'></i>
            <a href="/novedadc" target=centro>CERRADA</a></li>
    </ul>
  </li>
          <li><span class="caret">&#10133; EQUIPAMIENTO</span>
            <ul class="nested">
              <li><i class='far fa-window-maximize'></i> <a href="/r/1" target=centro>RESUMEN DEL AMBIENTE</a></li>
              <li><i class='far fa-window-maximize'></i> <a href="/r/a/1" target=centro>ELEMENTOS DEL AMBIENTE</a></li>
              <li>&#x1F5F9; NUEVO ELEMENTO</li>
            </ul>
          </li>
  </li>  
        <li><span class="caret">&#10133; CARGA MASIVA</span>
            <ul class="nested">
              <li><i class='fas fa-power-off'></i> ELEMENTOS</li>
            </ul>
          </li>
  
        <li><span class="caret">&#10133; CONFIGURACION</span>
            <ul class="nested">
              <li><i class='fas fa-wrench'></i> CUENTADANTE</li>
            </ul>
          </li>
        </ul>
  </li>  
    </ul>
  </li>
</ul>
</div>
</div>
<script>
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>

</body>
</html>
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/tmenu.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/Estilo.css')}}" rel="stylesheet">
<script src="{{url_for('static',filename='js/tmenu.js')}}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



