{% extends "base.html" %}
{% block content %}
<center>
    <h2 class="caret-sombra-red">{{msg}}</h2>
    <center>
        
        {%for dato in cadena%}
        <script>
            function Ir(paso){
                let formulario = document.getElementById('mio');
                if(paso==1){
                    
                    formulario.setAttribute('action','/n/i');                   
                    }
                
                if(paso==2){
                    
                    formulario.setAttribute('action','/n/d');
                    }
                formulario.submit();
                }
            </script>
                <form id=mio method=post action="/n/i">
            <table class="table table-striped table-bordered border=1 tabla" style="width:60%;-" BORDER=1>
            
            <td>
                    <input type="hidden" name="NOVEDADES" value="{{dato.idNOVEDADES}}">
                    <input type="hidden" name="ESTADO" value="{{dato.ESTADO}}">
                    <input type="hidden" name="AMBIENTE" value="{{dato.idAMBIENTE}}">
                    <input type="hidden" name="CUENTADANTE" value="{{dato.IDCUENTADANTE}}">
                
                <label class="form-label">FECHA</label></td><td>{{dato.FECHA}}</td></tr>
            <td><label class="form-label">DESCRIPCION</label></td><td ><textarea class="form-control" cols=60 rows=4 name=descripcion disabled >{{dato.DESCRIPCION}}</textarea></td></tr> 
            <td><label class="form-label">RESPUESTA</label></td><td><textarea cols=60 rows=4  name=respuesta class="form-control" ></textarea></td></tr> 
            {%endfor%}
            </table>
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width:20%;" target="centro">
                <i class='fas fa-archive' style='font-size:24px'></i>
                RESPONDER</button>
            <a href="javascript:Ir(2)" class="btn btn-outline-danger   btn-sm" style="width:20%;" target="centro">
                <i class='fas fa-business-time' style='font-size:24px'></i>
                    CERRAR LA NOVEDAD</a>
            <a href="/novedada" class="btn btn-outline-warning  btn-sm" style="width:20%;" target="centro">
                <i class='far fa-hand-point-left' style='font-size:24px'></i>
                CANCELAR</a>
            </form>
</div>

 

{%endblock%}
