{% extends "base.html" %}
<!DOCTYPE html>

<html>
    <head>
       
{% block content %}

    </head>
    <body>

            <form action="/niveles/l"
            <b><h2>CENTRO DE PRODUCCION DE SOLUCIONES INTELIGENTES -CPSI -<b></font></h2></div>
                <div class="w3-card-4">
                    <img src="{{url_for('static',filename='images/cpsi.png')}}" width=70% class="w3-border w3-padding">
                </div>
            
            </form>

        <script>
            function Voy(){
            location.href="/niveles/l"
            }
            setTimeout('Voy()',5000)
        </script>
        {% endblock content %}
    </body>
</html>