{% extends "base.html" %}
{% block content %}
            <form action="/niveles/l"
            <div class="w3-container">
            <header><font size=6 color=red><b>{{ msgito}}<b></font></header></div>
            <div class="w3-container w3-white">
            <button class="w3-button btn-success w3-round-xxlarge" style="width:40%">OK</button>
            <br><br>
            </div>
            </form>

        <script>
            function Voy(){
            location.href="/niveles/l"
            }
            setTimeout('Voy()',5000)
        </script>
        {% endblock content %}
    </body>
</html>