{% extends "base.html" %}
{% block content %}
            <form action="/niveles/l"
            <div class="w3-container">
            <header><font size=6 color=red style="text-shadow: 1px 1px 5px #000000;"><b>{{ msgito}}<b></font></header></div>
            
            <br><br>
            
            </form>

        <script>
            function Voy(){
            location.href="/niveles/l"
            }
            setTimeout('Voy()',5000)
        </script>
        {% endblock content %}
    </body>
</html>