{% extends "base.html" %}
{% block content %}
<center>
    <div class="card text-center mx-auto w3-responsive"><br>
    <center>
    <table class="w3-striped  w3-centered" width=60%>
        <tr>
    <form name=mio action= "/niveles/u" method=POST>
        <tr><td colspan=2 class="w3-green"><h4 style="text-shadow: 2px 2px 5px #000000;">EDITANDO REGISTRO</h4></td></tr>
        <td><font color=black>Nombre:</font></td><td><input type=text name=nom id=nom value="{{cadena[0][1]}}"  required></td></tr>
        <td><font color=black>Apellido:</font></td><td><input type=text name=ape id=ape value="{{cadena[0][2]}}"  required></td></tr>
        <td colspan=2><br><input type="submit" value="Grabar" style="width:30%" class="btn btn-primary w3-hover-yellow w3-round">
            <input type=hidden name=id value="{{cadena[0][0]}}">
            <input type="button" value="Regresar" style="width:30%" onclick="Ir1('/niveles/l')" class="btn w3-black w3-hover-yellow w3-round">
        </td></tr>
    </table>
    </form>
    </div>
    {% endblock content %}