
<div style="width:70%;overflow:auto;background-color:39a900;" class="w3-white w3-round-xxlarge w3-padding-large">
<table class="table">
    <tr><td>
    <font color=black><br><br><br>
    <h4>SERVICIO NACIONAL DE APRENDIZAJE SENA</h2>
    <h4>Centro de Gestión de Mercados, Logística y Tenologías de la Información</h4>
    <h6>
    Dirección: Cl 52 N° 13 65 Bogot&aacute;- Tel: +(57) 601 594 1301</h6>
    </font> 
</td>
<td><img src="{{url_for('static',filename='images/foot1.png')}}" height=200px></td></tr>
<td colspan=2><img src="{{url_for('static',filename='images/foot2.png')}}" style="border:true;width:100%;"></td>
</table>
</div>
    
