<br>
   <div class="card">
        <div class="card-header">
          SERVICIO NACIONAL DE APRENDIZAJE
        </div>
    <div class="card-body">
    <font color=black>
    Servicio Nacional de Aprendizaje SENA-Centro de Gestión de Mercados, Logística y Tenologías de la Información <br>Regional Distrito Capital<br>
    Dirección: Cl 52 N° 13 65 Bogot&aacute;- Tel: +(57) 601 594 1301<br>
    </font> 
    <img src="{{url_for('static',filename='images/footer1.png')}}" style="border:true;width:100%;"><br>
         
  </div>
</div>    
