{% extends "base.html" %}
{% block content %}
{{menu.length}}
<table class="mx-auto w3-round-xxlarge">

  {% for diccionario in menu %}
  <tr>
    {% for item in diccionario %}
    <td>
  <div class="sena-card2" >
  <div class="sena-color sena-sombra sena_m10 sena-text-yellow">
    {{item.Titulo}}
  </div>
  <div class="card-body "><a href="{{item.enlace}}">
    <img class="sena-img" loading="lazy" src="{{url_for('static',filename='images/'+item.iconos)}}" height=60px width=60px></a> 
  </div>   
</td>
{% endfor%}
</tr>
{% endfor%}
</table>

  {% endblock content %}