{% extends "base.html" %}
{% block content %}
{{menu.length}}
<table class="mx-auto w3-round-xxlarge">

  {% for diccionario in menu %}
  <tr>
    {% for item in diccionario %}
    <td>
  <div class="sena-card2" style='width:100px'>
  <div class="card-footer sena-color sena-sombra " style="color:yellow;">
    {{item.Titulo}}
  </div>
  <div class="card-body sena-hover"><a href="{{item.enlace}}">
    <img src="{{url_for('static',filename='images/'+item.iconos)}}" height=60px width=60px></a> 
  </div>   
</td>
{% endfor%}
</tr>
{% endfor%}
</table>

  {% endblock content %}