<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w3-panel">
<</center>
<br>
<script>
    function Ir(cual){
        document.forms['mio'].action="/niveles/"+cual
        document.forms['mio'].submit();
     
     
       }function Ir1(cual){
        location.href="/niveles/"+cual
       }
    
       function Va(tipo){
        if(tipo=="i")
        document.forms['mio'].action="/niveles/i"
        else
        document.forms['mio'].action="/niveles/i"
        //alert(document.forms['mio']['nom'].value)
        document.forms['mio'].submit();    
     
       }
    </script>
    <center><img src="{{url_for('static',filename='images/CGMLTI.png')}}" style="border:true;width:60%;border-color:black;height:150px;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);border: 1px solid #000000;"><br>
    {{N}}

{% if N == 0  %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<center>
<table width=50% class="w3-table w3-striped w3-border" border="1">   
    {% for x in range(0,can)%}
        <td style="text-align:left">{{cadena[x][1]}} {{cadena[x][2]}}</td>
        <td width="100px">
        <a href="/niveles/1"><img width=20px src="{{url_for('static',filename='images/crear.png')}}"></a>
        <a href="/niveles/e/{{cadena[x][0]}}"><img width=20px src="{{url_for('static',filename='images/editar.png')}}"></a>
        <a href=""><img width=20px src="{{url_for('static',filename='images/borrar.png')}}"></a></td></tr>
    {% endfor %}    

    </tr>
</table>
<a href="/niveles/1">Siguiente Nivel</a>

{%endif%}
{%if N == '1' %}
Nivel 1
<center>
    <div class="w3-responsive">
<table class="w3-striped w3-border w3-centered">
    <tr>
<form name=mio method=post>
    <td>Nombre:</td><td><input type=text name=nom></td></tr>
    <td>Apellido:</td><td><input type=text name=ape></td></tr>
    <td colspan=2><input type="button" value="Grabar" onclick="Va()" class="w3-button w3-black"></td></tr>
</table>
</form>
</div>
<a href="/niveles/0">Anterior Nivel</a>
<a href="/niveles/2">Siguiente Nivel</a>

{%endif%}
{%if N == 2 %}

<center>
    <div class="w3-responsive">
<table class="w3-striped w3-border w3-centered">
    <tr>
<form name=mio method=post>
    <td>Nombre:</td><td><input type=text name=nom value="{{cadena[0][1]}}"></td></tr>
    <td>Apellido:</td><td><input type=text name=ape value="{{cadena[0][2]}}"></td></tr>
    <td colspan=2><input type="button" value="Grabar" onclick="Va()" class="w3-button w3-black">
        <input type="button" value="Regresar" onclick="Ir1('l')" class="w3-button w3-black">
    </td></tr>
</table>
</form>
</div>

<a href="/niveles/1">Anterior Nivel</a>
<a href="/niveles/3">Siguiente Nivel</a>
{%endif%}
{%if N == '3' %}
Nivel 3
<a href="/niveles/2">Anterior Nivel</a>
<a href="/niveles/0">Primer Nivel</a>
{%endif%}
</div>
