{% extends "base.html" %}
{% block content %}

{% if N == 0  %}
<center>

<table class="w3-table w3-striped w3-padding-large " >   
    <td width=30%>
        <div class="card text-center">
            <center>
            <table class="w3-card w3-striped  w3-centered">
                <tr><td colspan=2 style="background-color:#39a900;color:yellow;"><header><h5>CREAR REGISTRO</h5></header></td></tr>
                <tr>
            <form name=mio method=POST action="/niveles/i" class="row g-3 "> 
                <td><font color=black>Nombre:</font></td>
                    <td><input class="form-control " type="text" id="nom" name="nom"  required></td></tr>
                <td><font color=black>Apellido:</font></td>
                    <td><input class="form-control" type="text" id="ape" name="ape"  required></td></tr>
                <td colspan=2>
                    <div class="d-grid gap-2">
                <input type="submit" value="Grabar"  class="btn btn-primary w3-round">
                    </div></td></tr>
            </table>
            </form>
            </div>
    </td>
    <td>
        <div style="overflow:auto;height:40%;">
        <table class="table  table-striped" height=20% style="width:100%;">
    {% for x in range(0,can)%}
        <td style="text-align:left"><h6><b>{{cadena[x][1]}} {{cadena[x][2]}}</h6></b></td>
        <td width="100px">
            <button class="btn w3-blue" alt="Editar" onclick=Ir1("/niveles/e/{{cadena[x][0]}}") title="Editar"><i class="fa fa-truck"></i></button>
        <button class="btn w3-red" onclick='Confirmar("Desea Borrar el registro?","/niveles/d/{{cadena[x][0]}}")' title="Borrar"><i class="fa fa-trash"></i></button></td></tr>
    {% endfor %}    

    </tr>
</table>
</div>
</tr>
</table>
<br>
</div>


{%endif%}
{%if N == '1' %}
<!--CREAR UN REGISTRO-->

<center>
    <div class="w3-responsive"><br>
<table class="w3-striped  w3-centered">
    <tr><td colspan=2 class="w3-green">CREANDO REGISTRO...</td></tr>
    <tr>
<form name=mio method=POST class="w3-bordered">
    <td>Nombre:</td><td><input class="w3-input w3-border w3-hover-yellow" type=text name=nom required maxlength="45"></td></tr>
    <td>Apellido:</td><td><input class="w3-input w3-border w3-hover-yellow" type=text name=ape required maxlength="45"></td></tr>
    <tr><td colspan=2>.</td></tr>
    <td colspan=2>
    <input type="button" value="Grabar" onclick="Va('i')" class="w3-button w3-green w3-half w3-round">
            <input type="button" value="Regresar" onclick="Ir1('/niveles/l')" class="w3-round w3-button w3-black"></td></tr>
</table>
</form>
</div>

{%endif%}
{%if N == 2 %}
<!--EDITAR UN REGISTRO-->
<center>
<div class="card text-center mx-auto w3-responsive"><br>
<center>
<table class="w3-striped  w3-centered" width=60%>
    <tr>
<form name=mio action= "/niveles/u" method=POST>
    <tr><td colspan=2 class="w3-green"><h4>EDITANDO REGISTRO</h4></td></tr>
    <td><font color=black>Nombre:</font></td><td><input type=text name=nom id=nom value="{{cadena[0][1]}}"  required></td></tr>
    <td><font color=black>Apellido:</font></td><td><input type=text name=ape id=ape value="{{cadena[0][2]}}"  required></td></tr>
    <td colspan=2><br><input type="submit" value="Grabar" style="width:30%" class="btn btn-primary w3-hover-yellow w3-round">
        <input type=hidden name=id value="{{cadena[0][0]}}">
        <input type="button" value="Regresar" style="width:30%" onclick="Ir1('/niveles/l')" class="btn w3-black w3-hover-yellow w3-round">
    </td></tr>
</table>
</form>
</div>

{%endif%}

</div>
{% endblock content %}