<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <div class="w3-container">
  <h2>UNIDADES HABITACIONALES</h2>
  {% for tipo in cadena %}
  <ul class="w3-ul w3-card-4">
    <li class="w3-bar">
      <img src="{{url_for('static',filename='image/bloque.png')}}" class="w3-bar-item" style="width:135px;">
      <div class="w3-bar-item">
        <span class="w3-large">{{tipo.nombre}}</span><br>
        <a href="" class="w3-button w3-round w3-border"><img src="{{url_for('static',filename='image/apto.png')}}"  width=25px alt="Apartamentos"></a>
        <a href="" class="w3-button w3-round w3-border"><img src="{{url_for('static',filename='image/editar.png')}}"  width=25px></a>
        <a href="{{url}}/t/d/{{tipo.idunidad}}" class="w3-button w3-round w3-border"><img src="{{url_for('static',filename='image/borrar.png')}}"  width=25px></a>
        <a href="" class="w3-button w3-round w3-border"><img src="{{url_for('static',filename='image/mas.png')}}"  width=25px></a>
        <a href="" class="w3-button w3-round w3-border"><img src="{{url_for('static',filename='image/upload.png')}}"  width=25px></a>
        
      </div>
    </li>
  </ul>
{% endfor %}
</div>

</body>
</html>
